In [1]:
import pandas as pd

train_data = pd.read_csv('data/train.csv', sep=' ')
test_data = pd.read_csv('data/test.csv', sep=' ')

# 输出数据的大小信息
print('Train data shape:', train_data.shape)
print('TestA data shape:', test_data.shape)

train_data.head()

Train data shape: (120000, 31)
TestA data shape: (30000, 31)

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,0,736,20040402,30.0,6,1.0,0.0,0.0,60,12.5,...,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,1,2262,20030301,40.0,1,2.0,0.0,0.0,0,15.0,...,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,2,14874,20040403,115.0,15,1.0,0.0,0.0,163,12.5,...,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,3,71865,19960908,109.0,10,0.0,0.0,1.0,193,15.0,...,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,4,111080,20120103,110.0,5,1.0,0.0,0.0,68,5.0,...,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482

In [2]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SaleID             120000 non-null  int64
 1   name               120000 non-null  int64
 2   regDate            120000 non-null  int64
 3   model              119999 non-null  float64
 4   brand              120000 non-null  int64
 5   bodyType           116401 non-null  float64
 6   fuelType           113063 non-null  float64
 7   gearbox            115181 non-null  float64
 8   power              120000 non-null  int64
 9   kilometer          120000 non-null  float64
 10  notRepairedDamage  120000 non-null  object
 11  regionCode         120000 non-null  int64
 12  seller             120000 non-null  int64
 13  offerType          120000 non-null  int64
 14  creatDate          120000 non-null  int64
 15  price              120000 non-null  int64
 16  v_0                120000 non-null  float64
 17  v_1                120000 non-null  float64
 18  v_2                120000 non-null  float64
 19  v_3                120000 non-null  float64
 20  v_4                120000 non-null  float64
 21  v_5                120000 non-null  float64
 22  v_6                120000 non-null  float64
 23  v_7                120000 non-null  float64
 24  v_8                120000 non-null  float64
 25  v_9                120000 non-null  float64
 26  v_10               120000 non-null  float64
 27  v_11               120000 non-null  float64
 28  v_12               120000 non-null  float64
 29  v_13               120000 non-null  float64
 30  v_14               120000 non-null  float64
dtypes: float64(20), int64(10), object(1)
memory usage: 28.4+ MB

In [3]:
train_data.describe()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
count,120000.000000,120000.000000,1.200000e+05,119999.000000,120000.0000,116401.000000,113063.000000,115181.000000,120000.000000,120000.000000,...,120000.000000,120000.000000,120000.000000,120000.000000,120000.000000,120000.000000,120000.000000,120000.000000,120000.000000,120000.000000
mean,59999.500000,68395.840675,2.003414e+07,47.151351,8.0499,1.794186,0.375419,0.224794,119.253900,12.596321,...,0.248202,0.044911,0.124694,0.058152,0.062036,-0.000681,0.008014,0.005423,0.000859,-0.002109
std,34641.160489,61130.560135,5.366027e+04,49.522610,7.8633,1.760268,0.548548,0.417448,165.681929,3.919443,...,0.045773,0.051725,0.201148,0.029223,0.035708,3.770643,3.285570,2.520264,1.287522,1.037764
min,0.000000,0.000000,1.991000e+07,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-9.168192,-5.558207,-9.639552,-4.153899,-6.546556
25%,29999.750000,11170.000000,1.999091e+07,10.000000,1.0000,0.000000,0.000000,0.000000,75.000000,12.500000,...,0.243587,0.000039,0.062618,0.035306,0.033957,-3.718115,-1.949250,-1.874775,-1.055301,-0.438598
50%,59999.500000,51643.000000,2.003091e+07,30.000000,6.0000,1.000000,0.000000,0.000000,110.000000,15.000000,...,0.257783,0.000813,0.095917,0.057039,0.058527,1.621640,-0.359056,-0.127026,-0.037694,0.139520
75%,89999.250000,118971.500000,2.007111e+07,66.000000,13.0000,3.000000,1.000000,0.000000,150.000000,15.000000,...,0.265297,0.102018,0.125390,0.079424,0.087543,2.843724,1.254286,1.778553,0.942991,0.678931
max,119999.000000,196812.000000,2.015121e+07,246.000000,39.0000,7.000000,6.000000,1.000000,17932.000000,15.000000,...,0.291838,0.151420,1.404936,0.159710,0.222787,12.357011,18.819042,13.847792,11.147669,8.658418